/*.demo-content{
  padding: 15px;
  font-size: 18px;
  min-height: 300px;
  background: #dbdfe5;
  margin-bottom: 10px;
}
*/
.demo-content.bg-alt {
  background: rgb(66, 191, 244, 0.4);
}
.nested-content {
  min-height: 150px;
  margin-bottom: 30px;
  background: white;
}
#table_div {
  margin-top: 20px;
}
.login {
}

/*
.display-4 {
  overflow: auto;
  white-space: nowrap;
}
*/

.searchbar {
  margin-bottom: 20px;
}


/*
.btn {
  background-color: #64b3db;
}
*/
