/*.demo-content{
  padding: 15px;
  font-size: 18px;
  min-height: 300px;
  background: #dbdfe5;
  margin-bottom: 10px;
}
*/
html,body {
  height: 100%;
}
.demo-content.bg-alt {
  background: rgb(66, 191, 244, 0.4);
}
.nested-content {
  min-height: 150px;
  /*margin-bottom: 30px;*/
  background: white;
}
#table_div {

}
.login {
}

/*
.display-4 {
  overflow: auto;
  white-space: nowrap;
}
*/

.searchbar {
  padding: 20px;
  margin: auto;
  width: 95%;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  width: 95%;
}

html, body { height: 100%;}



/*
.btn {
  background-color: #64b3db;
}
*/
